Options +FollowSymlinks
RewriteEngine on

# deal with admin first
RewriteCond %{REQUEST_URI} ^/freshpure/(admin) 
RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
RewriteRule ^admin/plugins/(.*)$ backend/web/plugins/$1 [L]
RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]
RewriteRule ^admin/img/(.*)$ backend/web/img/$1 [L]
RewriteRule ^admin/fonts/(.*)$ backend/web/fonts/$1 [L]


RewriteRule ^admin/login/css/(.*)$ backend/web/login/css/$1 [L]
RewriteRule ^admin/login/vendor/(.*)$ backend/web/login/vendor/$1 [L]
RewriteRule ^admin/login/fonts/(.*)$ backend/web/login/fonts/$1 [L]
RewriteRule ^admin/login/images/(.*)$ backend/web/login/images/$1 [L]

RewriteCond %{REQUEST_URI} !^/freshpure/backend/web/(assets|css|plugins|js|fonts|img)/ 
RewriteCond %{REQUEST_URI} ^/freshpure/(admin)
RewriteRule ^.*$ backend/web/index.php [L]

RewriteCond %{REQUEST_URI} ^/freshpure/(uploads)
RewriteRule ^(uploads)($|/) - [L]


RewriteCond %{REQUEST_URI} ^/freshpure/(assets|css|js|images|video) 
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
RewriteRule ^img/(.*)$ frontend/web/img/$1 [L]
RewriteRule ^video/(.*)$ frontend/web/video/$1 [L]
RewriteRule ^fonts/(.*)$ frontend/web/fonts/$1 [L]
RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]

RewriteRule ^login/css/(.*)$ frontend/web/login/css/$1 [L]
RewriteRule ^login/js/(.*)$ frontend/web/login/js/$1 [L]
RewriteRule ^login/fonts/(.*)$ frontend/web/login/fonts/$1 [L]
RewriteRule ^login/images/(.*)$ frontend/web/login/images/$1 [L]
RewriteRule ^login/vendor/(.*)$ frontend/web/login/vendor/$1 [L]

RewriteRule ^login2/css/(.*)$ frontend/web/login2/css/$1 [L]
RewriteRule ^login2/images/(.*)$ frontend/web/login2/images/$1 [L]


RewriteCond %{REQUEST_URI} !^/freshpure/(frontend|backend)/web/(assets|css)/ 
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php
